<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AI Analyzer</title>
    <link rel="stylesheet" href="../static/style1.css" />
</head>
<body>
    <div class="container">
        <h1 class="title">AI Analyzer for PDF & Text</h1>

        <div class="button-group">
            <a href="/text" class="main-btn">Analyze Text</a>
            <a href="/pdf" class="main-btn">Analyze PDF</a>
        </div>
    </div>
</body>
</html>
